<html>
  <head>
    <title>Juo Pois!</title>

    <style>
      html, body {
        height: 100%;
      }

      body {
        margin 0;
      }

      .flex-container {
      }

      button {
        width: 100%;
        height: 100%;
        background: #DFA94B;
        color: #EEE;
        font-size: 20rem;
        border-radius: 20rem;
      }
    </style>
  </head>

  <body>
    <div class="flex-container">
      <form method="post" action="/record">
        <button type="submit">Juo pois</button>
      </form>
    </div>
  </body>
</html>
