<html>
  <head>
    <title>Juo Pois!</title>

    <style>
      html, body {
        height: 100%;
      }

      body {
        margin 0;
        background: #DFA94B;
        color: #EEE;
      }

      .flex-container {
        margin: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      h1, a {
        font-size: 10rem;
      }

      a:active, a:visited {
        color: #EEE;
      }

    </style>
  </head>

  <body>
    <div class="flex-container">
      <h1>Kalja (tjms) tallennettu. Hyvä sinä!</h1>
      <div>
        <a href="/salaurli">Takaisin</a>
      </div>
    </div>
  </body>
</html>
